* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
  }

body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav {
  position: fixed;
  background-color: #343A40;
  width: 100%;
}

nav ul {
  max-width: 1280px;
  margin: 0;
  list-style: none;
}

nav li {
  padding: 1%;
  float: left;
}

nav i {
  padding-right: 10px;
  font-size: 24px;
}

nav a {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 40px;
  display: block;
  color: white;
  text-decoration: none;
}

nav li:last-child a {
  border: 0;
}

nav a:hover {
  color:deepskyblue;
}

header {
  height: 100vh;
  background-image: url(home.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  color: black;
  position: absolute;
  top: 15%;
  left: 5%;
}

main {
  height: 200vh;
  text-align: center;
}

main h2 {
  padding: 70px 0 20px 0;
}

footer {
  height: 50px;
  background-color:#343A40;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}