* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
  }

body {
    background-color: black;
    color: white;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav {
  padding-left: 5%;
}

nav ul {
  max-width: 1280px;
  margin: 0 auto;
  list-style: none;
}

nav li {
  padding-top: 2%;
  float: left;
}

nav i {
  padding-right: 10px;
  font-size: 24px;
}

nav a {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 40px;
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav li:last-child a {
  border: 0;
}

nav a:hover {
  color: white;
}

header {
  height: 100vh;
  background-image: url(home.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  color: black;
  position: absolute;
  top: 20%;
  left: 15%;
}

main {
  height: 200vh;
}