* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
  }

body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav {
  position: fixed;
  background-color: #343A40;
  width: 100%;
}

nav ul {
  max-width: 1280px;
  margin: 0;
  list-style: none;
}

nav li {
  padding: 1%;
  float: left;
}

nav i {
  padding-right: 10px;
  font-size: 24px;
}

nav a {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 40px;
  display: block;
  color: white;
  text-decoration: none;
}

nav li:last-child a {
  border: 0;
}

nav a:hover {
  color:deepskyblue;
}

header {
  height: 100vh;
  background-image: url(home.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  color: black;
  position: absolute;
  top: 15%;
  left: 5%;
}

.portfolio {
  background-color: black;
  padding: 10px 0 30px;
}

.portfolio h1 {
  font-size: 28px;
  font-family: 'Saira Condensed',
  sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.portfolio .web img {
  width: 100%;
}

.portfolio .about {
  color: white;
  font-family: 'Saira',
  sans-serif;
  font-weight: normal;
  padding: 10px 20px 20px 0;
  text-align: left;
}

.portfolio .about h2 {
  font-size: 18px;
  border-bottom: 2px solid white;
  margin-bottom: 12px;
  padding-bottom: 6px;
  text-indent: 20px;
}

.portfolio .about p {
  font-size: 12px;
  padding-left: 20px;
}

.portfolio .project {
  max-width: 1400px;
  margin: 0 auto 20px;
}

.portfolio .project:nth-of-type(odd) {
  background-color: #ff4f2c;
}

.portfolio .project:nth-of-type(even) {
  background-color: deepskyblue;
}

@media (min-width:768px) {

  .portfolio h1 {
    font-size: 40px;
  }

  .portfolio .about h2 {
    font-size: 28px;
    text-indent: 40px;
  }

  .portfolio .about p {
    font-size: 18px;
    padding-left: 40px;
  }

  .portfolio .project {
    margin-bottom: 40px;
  }

}

@media (orientation: landscape) {
  .web,
  .about {
    width: 50%;
    float: left;
  }

  .web img {
    display: block;
  }

  .portfolio .project:nth-of-type(even) .web {
    float: right;

  }
  .portfolio .project:nth-of-type(even) .about {
    padding-right: 0;
  }
  .portfolio .project:nth-of-type(even) .about p {
    padding-right: 20px;
  }
  .portfolio .project:nth-of-type(even) .about h2 {
    text-indent: 0;
    margin-left: 40px;
  }


}

@media (orientation: landscape) and (min-width: 1400px) {
  .portfolio h1 {
    font-size: 60px;
    padding: 30px 0;
  }

  .portfolio .about h2 {
    padding-top: 50px;
    font-size: 28px;
    text-indent: 40px;
    margin-bottom: 50px;
  }

  .portfolio .about p {
    font-size: 18px;
    padding-left: 40px;
    line-height: 180%;
  }

  .portfolio .project {
    margin-bottom: 40px;
  }
}

.hobby {
  max-width: 1920px;
  margin: 0 auto;
}

.hobby .item {
  height: 25vh;

}

.hobby .item {
  background-position: center;
  background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
  background-image: url(hobby1.jpg);
}

.hobby .item:nth-of-type(2) {
  background-image: url(hobby2.jpg);
}

.hobby .item:nth-of-type(3) {
  background-image: url(hobby3.jpg);
}

.hobby .item:nth-of-type(4) {
  background-image: url(hobby4.jpg);
}


.hobby .item p {
  font-family: 'saira', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
  background-color: rgba(0, 0, 0, .5);
  font-size: 20px;
  padding: 5px 0;
}

.hobby h1 {
  font-family: 'saira condensed', sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

@media (min-width:533px) {
  .hobby .item {
    float: left;
    width: 50%;
    height: 40vh;
  }
}

@media (min-width:768px) {

  .hobby h1 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 35px;

  }

  .hobby .item p {
    font-size: 30px;
    padding: 15px 0;
  }
}

@media (min-width: 1024px) {
  .hobby .item p {
    padding: 0;
    line-height: 40vh;
    opacity: 0;
    transition: 1s;
    cursor: default;
  }

  .hobby .item:hover p {
    opacity: 1;
  }

  .hobby .item {
    background-size: 100%;
    transition: 1s;
  }

  .hobby .item:hover {
    background-size: 130%;
  }

}

@media (min-width: 1600px) {
  .hobby h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 45px;
  }

  .hobby .item p {
    font-size: 40px;
  }
}

footer {
  background-color:#343A40;
  width: 100%;
}

footer ul {
  max-width: 1280px;
  margin: 0;
  list-style: none;
}

footer li {
  display: inline;
  margin: 0 8px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  padding: 0 8px;
  font-size: 50px;
}